/*  your css code here. If applicable */
body {
                color: orange
            }

            input {
                padding: 10px;
                margin: 10px;
                width: 50%;
                border: 2px solid blueviolet
            }

            button {
                padding: 10px;
                font-size: 20px;
                margin: 20px 30px;
                border: 10px dotted darkblue;
                color: blue
            }

            label {
                font-size: 25px;
                font-style: bold;
                font-family: sans-serif
            }